<!DOCTYPE html>
<html ng-app="main">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/angular-drag-and-drop.js"></script>
    <script src="../scripts/angular-route.min.js"></script>
    <script src="../app.js"></script>
    <link href="../styles/multiple.css" rel="stylesheet" />


</head>
<body body ng-app="main" ng-controller="homeController">
   
    <div ng-repeat="team in teams">
        <button ng-click="openKanban(team)" class="btn">TIM-{{team}} </button>
    </div>
<button ng-click="openProfile()" class="btn" id="openProfile">Profil</button>
    <input type="button" value="Meetings" class="btn" ng-click="calendar=!calendar"></input>
<button ng-click="logout()" class="btn" id="logout">Logout</button>

    <div class="calendar" ng-show="calendar">
        <iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=2&amp;bgcolor=%237986CB&amp;ctz=Europe%2FBelgrade&amp;src=d29ybGRwaWlzLmZlci5ockBnbWFpbC5jb20&amp;src=aHIuY3JvYXRpYW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23009688&amp;color=%230B8043&amp;title=Sastanci" style="border-width:0" width="670" height="300" frameborder="0" scrolling="no"></iframe>
    </div>
</body>
</html>