<link href="../styles/login.css" rel="stylesheet" />
<script src="../scripts/angular.min.js"></script>
    <script src="../scripts/angular-drag-and-drop.js"></script>
    <script src="../scripts/angular-route.min.js"></script>
    <script src="../app.js"></script>

<div class="container">
	<h1>Prijava</h1>
	<div class="input">
		<input type="text" ng-model="username" placeholder="Username" id="username">
	</div>
	<div class="input">
		<input type="Password" ng-model="password" placeholder="Password" id="password">
	</div>
	<button ng-click="login()" id="login">Login</button>
	<div class="danger-container">
		<span class="text-danger">{{ error }}</span>
	</div>
</div>